body{
	background-color: #303030;
	font-family: Verdana,sans-serif;
	color: black;
	margin: 0px;
	font-size: 0px;
}
 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}
input:disabled + .slider {
  background-color: #0f0f0f;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 
.load{
	animation-name: loading;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	background-color: black;
}
@keyframes loading {
    0%   {opacity: 1;}
    50%  {opacity: 0.5;}
    100% {opacity: 1;}
}
@keyframes co {
	0% {background-color: #2eb82e;}
	50% {background-color: #f1f1f1;}
	100% {background-color: #2eb82e;}
}
.co{
	animation-name: co;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	font-size : 16px;
}
.error{
    background-color: azure;
    border-radius: 3px;
    color: black;
    line-height: 20px;
    font-size: 16px;
    padding: 4px 20px;
    font-family: Consolas;
}
center{
	font-size: 15px;
}
.responsive-headline{
	line-height: 0;
	list-style-type: none;
	overflow: hidden;
	padding: 0;
	color: #019aa5;
	height: 50px;
	background-color: black;
	background-repeat: no-repeat;
	background-position: center; 
	background-image: url("https://i.ytimg.com/vi/y9_tLf8A2hw/maxresdefault.jpg");
}
.responsive-headline h1{
	font-size: 20px;
	line-height: 1.5;
}
.menu{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #f1f1f1;
}
.li-menu{
	float: left;
}
.menu-link{
	display: block;
	color: #000;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.active {
	background-color: #4CAF50;
}
.menu-link:hover {
	background-color: #555;
	color: white;
}
.jeuxgate {
	border-radius: 50%;
	border-width: 5px;
	border-style: solid;
}
.jeuxgatetxt {
	color: white;
	font-size: 40px;
	line-height: 40px;
}
.byzanbottxt {
	color: #e65c00;
	font-size: 30px;
	line-height: 30px;
}
.shruggytxt {
	color: #99ccff;
	font-size: 30px;
	line-height: 30px;
}
